<%= simple_form_for(@team) do |f| %>
	<legend>Team data</legend>
	<%= f.error_notification %>
	<%= f.input :name, :input_html => { :class => "span6" }, :hint => "Team name" %>
	<%= f.input :description, :input_html => { :id => "team-description", :class => "span6" }, :hint => "Team description" %>
	<%= f.error :base %>
	<div class="form-actions">
		<%= f.button :submit, :class => "btn-primary" %>
		<%= submit_tag "Reset", :type => :reset, :class => "btn" %>
		or <%= link_to "go back", teams_path %>.
  </div>
<% end %>