<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i> <%= link_to "Home", root_path %>
		<span class="divider">/</span>
	</li>
  <li>
		<i class="icon-user"></i> <%= link_to "Teams", teams_path %>
		<span class="divider">/</span>
	</li>
  <li class="active"><%= @team.name %></li>
</ul>

<div class="row">
	<div class="span8">
		<div>
		  <h2><%= @team.name %></h2>
		</div>
	</div>
	<div class="span4">
		<%= link_to "Edit", edit_team_path(@team), :class => "btn btn-primary" %>
		<%= link_to "Destroy", @team, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
	</div>
</div>

<div class="well">
  <p><%= @team.description %></p>
</div>