<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Description:</b>
  <%= @team.description %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Destroy', @team, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', teams_path %>
