<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i> <%= link_to "Home", root_path %>
		<span class="divider">/</span>
	</li>
  <li>
		<i class="icon-user"></i> <%= link_to "Teams", teams_path %>
		<span class="divider">/</span>
	</li>
  <i class="icon-eye-open"></i> <li class="active">“<%= @team.name %>”</li>
</ul>

<div class="row">
	<div class="span8">
		<div>
		  <h2><%= @team.name %></h2>
		</div>
	</div>
	<div class="span4">
		<div class="btn-group">
		  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		    <i class="icon-cog"></i> Team actions
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
				<li>
					<%= link_to edit_team_path(@team) do %>
						<i class="icon-pencil"></i> Edit team
					<% end %>
				</li>
				<li>
					<%= link_to @team, confirm: 'Are you sure?', method: :delete do %>
						<i class="icon-remove"></i> Delete team
					<% end %>
				</li>
		  </ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="span8">
		<div class="well">
		  <p><%= @team.description.html_safe %></p>
		</div>
	</div>
	<div class="span4">
	</div>
</div>

<div class="row">
	<div class="span8">
		<h3>Involved in</h3>
		<% unless @team.tasks.empty? %>
			<ul>
				<% @team.tasks.each do |task| %>
				  <li>
						<i class="icon-book"></i>
						<%= link_to task.story.project.name, project_path(task.story.project) %>
						→
					  <i class="icon-bookmark"></i> <%= link_to task.story.name, project_story_path(task.story.project, task.story) %>
						→
					  <i class="icon-list-alt"></i> <%= link_to task.name, project_story_task_path(task.story.project, task.story, task) %>
					</li>
				<% end %>
			</ul>
		<% else %>
			<p>Nothing…</p>
		<% end %>
	</div>
	<div class="span4">
	</div>
</div>
