<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i> <%= link_to "Home", root_path %>
		<span class="divider">/</span>
	</li>
  <li>
		<i class="icon-book"></i> <%= link_to "Projects", projects_path %>
		<span class="divider">/</span>
	</li>
  <li>
		<i class="icon-file"></i> “<%= link_to @project.name, project_path(@project) %>”
		<span class="divider">/</span>
	</li>
  <li>
		<i class="icon-bookmark"></i> “<%= link_to @story.name, project_story_path(@project, @story) %>”
		<span class="divider">/</span>
	</li>
</ul>

<div class="row">
	<div class="span8">
		<div class="page-header">
		  <h1>Listing tasks</h1>
		</div>
	</div>
	<div class="span4">
		<%= link_to new_project_story_task_path(@project, @story), :class => "btn btn-primary" do %>
			<i class="icon-plus icon-white"></i> New task
		<% end %>
	</div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
	    <th>Name</th>
			<th>Team involved</th>
    </tr>
  </thead>
	<tbody>
	<% @tasks.each do |task| %>
	  <tr>
	    <td><%= link_to task.name, project_story_task_path(@project, @story, task) %></td>
	    <td><%= link_to task.team.name, team_path(task.team) %></td>
	</tr>
	<% end %>
	</tbody>
</table>