<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
			<%= link_to "echoboard", root_path, :class => "brand" %>
			<ul class="nav">
				<li class="<%= 'active' if current_page?(projects_path) %>">
					<%= link_to projects_path do %>
						<i class="icon-book icon-white"></i> Projects
					<% end %>
				</li>
				<li class="<%= 'active' if current_page?(teams_path) %>">
					<%= link_to teams_path do %>
						<i class="icon-user icon-white"></i> Teams
					<% end %>
				</li>
				</li>
				<li>
					<a><i class="icon-calendar icon-white"></i> Meetings</a>
				</li>
			</ul>
			<a href="https://github.com/steno-c"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>    </div>
  </div>
</div>