<%= simple_form_for(@project) do |f| %>
  <legend>Project data</legend>
  <%= f.error_notification %>
  <%= f.input :name, :input_html => { :class => "span6" } %>
  <%= f.input :description, :input_html => { :id => "project-description", :class => "span6" } %>
  <%= f.input :go_live, :input_html => { :class => "input-small" }, :as => :date, label: "Go live date" %>

  <legend>Statuses for this project</legend>
  <%= f.fields_for :statuses do |builder| %>
    <%= render 'status_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add status", f, :statuses %>

  <legend>Difficulties for this project</legend>
  <%= f.fields_for :difficulties do |builder| %>
    <%= render 'difficulty_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add difficulty", f, :difficulties %>

  <%= f.error :base %>
  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
    <%= submit_tag "Reset", :type => :reset, :class => "btn" %>
    or <%= link_to "go back", projects_path %>.
  </div>
<% end %>
