<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Go live:</b>
  <%= @project.go_live %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Destroy', @project, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', projects_path %>
