<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i> <%= link_to "Home", root_path %>
		<span class="divider">/</span>
	</li>
  <li>
		<i class="icon-book"></i> <%= link_to "Projects", projects_path %>
		<span class="divider">/</span>
	</li>
  <i class="icon-file"></i> <li class="active">“<%= @project.name %>”</li>
</ul>

<div class="row">
	<div class="span8">
		<div>
		  <h2><%= @project.name %></h2>
			<h6><%= distance_of_time_in_words_to_now(@project.go_live) %></h6>
		</div>
	</div>
	<div class="span4">
		<div class="btn-toolbar">
			<div class="btn-group">
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			    <i class="icon-cog"></i> Project actions
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
					<li>
						<%= link_to edit_project_path(@project) do %>
							<i class="icon-pencil"></i> Edit project
						<% end %>
					</li>
					<li>
						<%= link_to @project, confirm: 'Are you sure?', method: :delete do %>
							<i class="icon-remove"></i> Delete project
						<% end %>
					</li>
			  </ul>
			</div>
			<div class="btn-group">
			  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
			    <i class="icon-plus icon-white"></i> Add
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
					<li>
						<%= link_to new_project_story_path(@project) do %>
							<i class="icon-bookmark"></i> New story
						<% end %>
					</li>
					<li>
						<%= link_to new_project_iteration_path(@project) do %>
							<i class="icon-repeat"></i> New iteration
						<% end %>
					</li>
			  </ul>
			</div>
		</div>
	</div>
</div>

<div class="well">
  <p><%= @project.description %></p>
</div>

<div class="row">
	<div class="span8">
		<div>
		  <h3>Iterations</h3>
		</div>
	</div>
	<div class="span4">
	</div>
</div>

<div class="btn-toolbar">
  <div class="btn-group">
		<% @iterations.each do |iteration| %>
				<%= link_to @project.iterations.count(:conditions => ['id < ?', iteration.id]), project_iteration_path(@project, iteration), :class => "btn btn-large" %>
		<% end %>
  </div>
</div>


<div class="row">
	<div class="span8">
		<div>
		  <h3>Stories</h3>
		</div>
	</div>
	<div class="span4">
	</div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
	    <th>Name</th>
			<th>Estimated difficulty</th>
	    <th>Priority</th>
	    <th>Status</th>
	    <th>Category</th>
    </tr>
  </thead>
	<tbody>
	<% @stories.each do |story| %>
	  <tr>
	    <td><%= link_to story.name, project_story_path(@project, story) %></td>
	    <td><%= story.estimated_difficulty %></td>
			<td><%= story.priority %></td>
			<td><%= story.status %></td>
			<td><%= story.category %></td>
	  </tr>
	<% end %>
	</tbody>
</table>