<%= simple_form_for([@project, @story]) do |f| %>
  <legend>Story data</legend>
  <%= f.error_notification %>
  <%= f.input :name, :input_html => { :class => "span6" } %>
  <%= f.input :priority, :collection => 0..2, :as => :radio_buttons, :item_wrapper_class => 'inline' %>
  <%= f.input :category, :collection => ["Active", "Freezed", "Dropped"], :as => :radio_buttons, :item_wrapper_class => 'inline' %>
  <%= f.input :definition_of_done, :input_html => { :id => "story-dod", :class => "span6" } %>

  <%= f.input :difficulty_id, :collection => @project.difficulties,
                              :as => :radio_buttons,
                              :label_method => lambda {|difficulty| difficulty.value.to_s},
                              :item_wrapper_class => 'inline' %>

  <%= f.error :base %>
  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
    <%= submit_tag "Reset", :type => :reset, :class => "btn" %>
    or <%= link_to "go back", project_path(@project) %>.
  </div>
<% end %>
