<%= simple_form_for([@project, @story]) do |f| %>
	<legend>Story data</legend>
	<%= f.error_notification %>
  <%= f.input :name, :input_html => { :class => "span6" }, :hint => "Story name" %>
  <%= f.input :priority, :collection => 0..2, :as => :radio_buttons, :hint => "Story priority" %>
  <%= f.input :estimated_difficulty, :collection => [3, 5, 8, 13, 21, 34], :as => :radio_buttons, :hint => "Story estimated difficulty" %>
  <%= f.input :status, :collection => ["Backlog", "Doing", "Test", "Done"], :as => :radio_buttons, :hint => "Story status" %>
  <%= f.input :definition_of_done, :input_html => { :id => "story-dod", :class => "span6" }, :hint => "Story definition of done" %>
  <%= f.input :category, :collection => ["Active", "Freezed", "Dropped"], :as => :radio_buttons, :hint => "Story category" %>
  <legend>Selected <%= link_to "teams", teams_path %></legend>
	<%= f.association :teams, :collection => @teams, :as => :check_boxes %>
  <%= f.error :base %>
	<div class="form-actions">
		<%= f.button :submit, :class => "btn-primary" %>
		<%= submit_tag "Reset", :type => :reset, :class => "btn" %>
		or <%= link_to "go back", project_path(@project) %>.
  </div>
<% end %>
