<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i> <%= link_to "Home", root_path %>
		<span class="divider">/</span>
	</li>
  <li>
		<i class="icon-book"></i> <%= link_to "Projects", projects_path %>
		<span class="divider">/</span>
	</li>
  <li>
		<i class="icon-file"></i> “<%= link_to @project.name, project_path(@project) %>”
		<span class="divider">/</span>
	</li>
  <i class="icon-bookmark"></i> <li class="active">“<%= @story.name %>”</li>
</ul>

<div class="row">
	<div class="span8">
		<h2><%= @story.name %></h2>
		<h6>Project: <%= link_to @project.name, project_path(@project) %>.</h6>
	</div>
	<div class="span4">
		<div class="btn-toolbar">
			<div class="btn-group">
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			    <i class="icon-cog"></i> Story actions
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
					<li>
						<%= link_to edit_project_story_path(@project, @story) do %>
							<i class="icon-pencil"></i> Edit story
						<% end %>
					</li>
					<li>
						<%= link_to [@project, @story], confirm: 'Are you sure?', method: :delete do %>
							<i class="icon-remove"></i> Delete story
						<% end %>
					</li>
			  </ul>
			</div>
		</div>
	</div>
</div>

<div class="well">
	<div><strong>Definition of done</strong></div>
	<div><%= @story.definition_of_done.html_safe %></div>
</div>

<p>
	<strong>Priority:</strong> <span class="badge badge-info"><%= @story.priority %></span>.
	<strong>Category:</strong> <span class="badge badge-info"><%= @story.category %></span>.
	<strong>Estimated difficulty:</strong> <span class="badge badge-info"><%= @story.estimated_difficulty %></span>.
	<strong>Status:</strong> <span class="badge badge-info"><%= @story.status %></span>.
</p>

<hr />

<h3>Teams involved</h3>

<ul>
	<% @story.tasks.each do |task| %>
	  <li><i class="icon-user"></i> <%= link_to task.team.name, team_path(task.team) %></li>
	<% end %>
</ul>
