<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i> <%= link_to "Home", root_path %>
		<span class="divider">/</span>
	</li>
  <li>
		<i class="icon-book"></i> <%= link_to "Projects", projects_path %>
		<span class="divider">/</span>
	</li>
  <li>
		<i class="icon-file"></i> “<%= link_to @project.name, project_path(@project) %>”
		<span class="divider">/</span>
	</li>
  <i class="icon-bookmark"></i> <li class="active">“<%= @story.name %>”</li>
</ul>

<div class="row">
	<div class="span8">
		<h2><%= @story.name %></h2>
		<h6>Project: <%= link_to @project.name, project_path(@project) %></h6>
	</div>
	<div class="span4">
		<div class="btn-toolbar">
			<div class="btn-group">
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			    <i class="icon-cog"></i> Story actions
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
					<li>
						<%= link_to edit_project_story_path(@project, @story) do %>
							<i class="icon-pencil"></i> Edit story
						<% end %>
					</li>
					<li>
						<%= link_to [@project, @story], confirm: 'Are you sure?', method: :delete do %>
							<i class="icon-remove"></i> Delete story
						<% end %>
					</li>
			  </ul>
			</div>
			<div class="btn-group">
			  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
			    <i class="icon-plus icon-white"></i> Add
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
					<li>
						<%= link_to new_project_story_task_path(@project, @story) do %>
							<i class="icon-list-alt"></i> New task
						<% end %>
					</li>
			  </ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span8">
		<div class="well">
			<div><strong>Definition of done</strong></div>
			<div><%= @story.definition_of_done.html_safe %></div>
		</div>
	</div>
	<div class="span4">

		<h3>Stats:</h3>

		<p><strong>Priority:</strong> <span class="badge badge-info"><%= @story.priority %></span></p>
		<p><strong>Category:</strong> <span class="badge badge-info"><%= @story.category %></span></p>
		<p><strong>Estimated difficulty:</strong> <span class="badge badge-info"><%= @story.estimated_difficulty %></span></p>
		<p><strong>Status:</strong> <span class="badge badge-info"><%= @story.status %></span></p>

		<hr />

		<h3>Formed by this tasks:</h3>

		<% unless @story.tasks.empty? %>
			<ul>
				<% @story.tasks.each do |task| %>
					<li>
				  	<i class="icon-list-alt"></i> <%= link_to task.name, project_story_task_path(task.story.project, task.story, task) %>
						by
						<i class="icon-user"></i> <%= link_to task.team.name, team_path(task.team) %>.
					</li>
				<% end %>
			</ul>
		<% else %>
			<p>No tasks yet. <%= link_to "Add the first", new_project_story_task_path(@project, @story, @task) %>.</p>
		<% end %>


	</div>
</div>
