<% unless @iterations.empty? %>
  <h6>Iterations list</h6>

  <% unless @iterations.empty? %>
    <% @iterations.each do |iteration| %>
      <% unless (iteration.id.nil?) %>
        <p class="iteration-list-p"><i class="icon-repeat"></i> <strong><%= link_to @project.iterations.count(:conditions => ['id <= ?', iteration.id]), project_iteration_path(@project, iteration) %></strong>:
          <% if iteration == @iteration %>
            <strong>
              <%= iteration.starting_date.strftime("%d %B") %> — <%= iteration.ending_date.strftime("%d %B") %>
            </strong>
            <span class="label label-info">This one</span>
          <% elsif iteration.id == @project.current_iteration_id %>
            <strong>
              <%= iteration.starting_date.strftime("%d %B") %> — <%= iteration.ending_date.strftime("%d %B") %>
            </strong>
            <span class="label label-success">Current</span>
          <% else %>
            <%= iteration.starting_date.strftime("%d %B") %> — <%= iteration.ending_date.strftime("%d %B") %>
          <% end %>
        </p>
      <% end %>
    <% end %>
  <% else %>
    <p class="iteration-list-p">Only this one.</p>
  <% end %>
  <hr />
<% end %>

<%= simple_form_for([@project, @iteration]) do |f| %>
  <legend>Iteration data</legend>
  <%= f.error_notification %>
  <%= f.input :starting_date, :input_html => { :class => "input-small" }, :as => :date %>
  <%= f.input :ending_date, :input_html => { :class => "input-small" }, :as => :date %>
  <%= f.input :estimated_velocity, :input_html => { :class => "span1" } %>
  <%= f.input :notes, :input_html => { :id => "iteration-notes", :class => "span6" } %>
  <legend>Selected <%= link_to "stories", project_path(@project) %></legend>
  <%= f.association :stories,
                    :collection => @project.stories,
                    :label_method => lambda {|story| if story.done then story.name + " (Done)" elsif story.category == "Freezed" then story.name + " (Freezed)" elsif story.category == "Dropped" then story.name + " (Dropped)" else story.name end},
                    :as => :check_boxes %>
  <%= f.error :base %>
  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
    <%= submit_tag "Reset", :type => :reset, :class => "btn" %>
    or <%= link_to "go back", project_path(@project) %>.
  </div>
<% end %>
