<%= simple_form_for([@project, @iteration]) do |f| %>
  <legend>Iteration data</legend>
	<%= f.error_notification %>
  <%= f.input :starting_date, :input_html => { :class => "input-small" }, :hint => "Starting date" %>
  <%= f.input :ending_date, :input_html => { :class => "input-small" }, :hint => "Ending date" %>
  <%= f.input :notes, :input_html => { :id => "iteration-notes", :class => "span6" }, :hint => "Iteration notes" %>
  <%= f.input :meeting, :input_html => { :id => "iteration-meeting", :class => "span6" }, :hint => "Iteration meeting" %>
  <%= f.error :base %>
	<div class="form-actions">
		<%= f.button :submit, :class => "btn-primary" %>
		<%= submit_tag "Reset", :type => :reset, :class => "btn" %>
		or <%= link_to "go back", project_path(@project) %>.
  </div>
<% end %>
